<!-- Optional additional links to insert in sidebar nav -->

<a class="asdf-link {% if page.url == "/sidebar/home" %} active{% endif %}"
        href="{{ "/sidebar/home" | relative_url }}">Home</a>
<a class="asdf-link {% if page.url == "/sidebar/about" %} active{% endif %}"
        href="{{ "/sidebar/about" | relative_url }}">About</a>
<a class="asdf-link {% if page.url == "/sidebar/publications" %} active{% endif %}"
        href="{{ "/sidebar/publications" | relative_url }}">Publications</a>
<a class="asdf-link {% if page.url == "/sidebar/research" %} active{% endif %}"
        href="{{ "/sidebar/research" | relative_url }}">Research</a>
<a class="asdf-link {% if page.url == "/sidebar/people" %} active{% endif %}"
        href="{{ "/sidebar/people" | relative_url }}">People</a>